@mixin bg {
    width: 300px;
    height: 200px;
}
.title {
    color: red;
    background: blue;
    @include bg;
}
.home {
    width: 200px;
    height: 100px;
}
.marginLeft {
    margin: 20px 40px;
}
.pageContent {
    margin: 100px;
}
